[Unit]
Description=EMS Simulate Service
After=network.target

[Service]
Type=simple
User=root
# 安装在 /usr/share/ems-simulate 目录下 (PyInstaller onedir)
WorkingDirectory=/usr/share/ems-simulate
# 可执行文件
ExecStart=/usr/share/ems-simulate/ems_simulate
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
